*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #313231;
}

h1 {
  font-size: 4rem;
}

#root {
  background-color: #f0f2f5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: #f0f2f5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  #root {
    flex-direction: column;
  }
  .container {
    flex-direction: column;
  }
}

#root > div {
  width: 100%;
  background-color: #fff;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 1px 2px #f5f5f5;
  padding: 20px 10px;
  text-align: center;
  margin: 5px;
}

.container > div {
  width: 100%;
  background-color: #fff;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 1px 2px #f5f5f5;
  padding: 20px 10px;
  text-align: center;
  margin: 5px;
}

button {
  background-color: #1877f2;
  font-size: 1.5rem;
  color: #fff;
  border: 0;
  border-radius: 3px;
  width: 150px;
  padding: 10px;
  box-shadow: 0 1px 2px #929191;
  outline: 0;
  margin-top: 20px;
}

.container {
  background-color: #f0f2f5 !important;
}
