@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background: #262626;
  width: 100%;
  height: 100vh;
}

.card {
  position: relative;
  background: #1e1e1e;
  height: 350px;
  width: 550px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

img {
  position: absolute;
  top: 30px;
  right: -20px;
  z-index: 0;
}

.content {
  width: 215px;
  position: absolute;
  left: 20px;
  z-index: 3;
}

h1 {
  color: #fff;
}

p {
  width: 280px;
  font-size: 13px;
  line-height: 1.4;
  color: #aaa;
  margin: 20px 0;
}

.tag {
  display: inline-block;
  color: #fff;
  background: #4361ee;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 0.7em;
}
.buttons {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
}

.buttons a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  font-size: 11px;
  color: #aaa;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #333;
  font-weight: bold;
}

.buttons a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0%;
  background: #262626;
  height: 100%;
  z-index: -1;
  transition: width 0.3s ease-in-out;
  transform: skew(-25deg);
  transform-origin: right;
}

.buttons a:hover {
  color: #fff;
  transition: all 0.5s ease;
}

.buttons a:hover:after {
  width: 150%;
  left: -10px;
  transform-origin: left;
}

.buttons a:nth-of-type(1) {
  border-radius: 50px 0 0 50px;
  border-right: none;
}

.buttons a:nth-of-type(2) {
  border-radius: 0px 50px 50px 0;
}
